{{#if addNewAnswer}}
<h2>New Answer</h2>
  <div>
    <form>
      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        {{textarea value=content id="content"}}
      </div>
      <button class="buttonColor" {{action 'saveAnswer'}}>Save Your Answer</button>
    </form>
  </div>
{{else}}
  <button class="buttonColor" {{action 'answerFormShow'}}>New Answer</button>
{{/if}}
